/* Requested by @geem */
/* Edited by @heebeejeebees */
/* Modified by Xaring to fit his taste <o.o> */

/* This is using imports only. While inefficient, it keeps the
   code from becoming too bloated and makes it easier to follow.
   To edit further, simply figure out what import affects which
   item, remove old import in your own revision of this and work
   on that one part of the code.
   Tools used:
   > Mozilla Firefox (browser)
     > Stylish (Real-time CSS editor)
     > Tile tabs (Multiple tab viewer)
   
   ALL CODE PROVIDED AS-IS, WITHOUT EXPRESS WARRENTY. Author
   (hebgbs) is absolved of responsibility for damages due to use,
   and leaves maintenance and upkeep to the intended recipent.
*/
  
/* Imports */
  /* Required no editing */
  /* Original, Failchon & from netox005's NB3 style */
@import url("https://github.netux.ml/css/chatright.css"); /* Chat completely to the right */
@import url("https://github.netux.ml/css/skynet.css"); /* Netox's bot prefs */
@import url("https://github.netux.ml/css/animations.css"); /* NB3 animations */
@import url("https://frosolf.github.io/colorfix.css"); /* Removes double ranking and icons */
  /* Additions by @heebeejeebees */
@import url("https://hebgbs.github.io/nullstuff.css"); /* Contributions by @null */
@import url("https://hebgbs.github.io/pmontop.css"); /* PMs always on top */
@import url("https://hebgbs.github.io/rainbowstuff.css"); /* Rainbow sliders and progress bars */
  /* Contributions specific to @frosolf */
@import url("https://frosolf.github.io/mixercore.css"); /* Chillout Mixer core theme */
@import url("https://frosolf.github.io/betterchat.css"); /* Better chat (and other fixes + mixer colours) */
@import url("https://frosolf.github.io/siteimgs.css"); /* Background images (Parted from mixercore) */
@import url("https://frosolf.github.io/usrprefs.css"); /* User-specific settings (Better chat improves some of this) */
   /* Modifications by Xaring */
/*@import url("https://xaring.github.io/dubtrack-xaring.css"); /* Left side video player with a normal size */
#main-room:not(.fullscreenParent) {max-width: 110vw;} 
#main-room:not(.fullscreenParent) .left_section { width: 106vw; } 
#main-room:not(.fullscreenParent) #main_player .player_container { height: 60vh; } 
